<!doctype html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Overlegplatform Associate Degrees</title>
  <meta name="description" content="Het landelijke platform voor Associate degrees. Ad-netwerk samen om kennis te delen en de kwaliteit van Associate degrees te versterken.">
  <link rel="stylesheet" href="/style/stylesheet.css">
  <link rel="stylesheet" href="/style/style.css">
  <script defer src="/style/script/client.js"></script>
</head>
<body class="{{ bodyClass }}">
