

  <!-- Snelle links -->
  <nav class="snelle-links-nav">
    <ul class="snelle-links-lijst pagina-container">
      <li><a href="/#faq">FAQ's</a></li>
      <li><a href="/#over-ons">Over ons</a></li>
      <li><a href="/#contact">Contact</a></li>

      <!-- 👇 NIEUW -->
      <li><a href="/nieuws-toevoegen">Nieuws toevoegen</a></li>
    </ul>
  </nav>

  <!-- Hoofd navigatie -->
  <div class="hoofd-navigatie-balk">
    <nav class="hoofd-navigatie pagina-container">

      <!-- Logo -->
      <a href="/" class="logo-link">
        <img src="/style/assets/Adconnect.svg" class="logo-light" alt="Overlegplatform Associate Degrees logo" width="180" height="45">
        <img src="/style/assets/logoad.png" class="logo-dark" alt="Overlegplatform Associate Degrees logo" width="180" height="45">
      </a>

      <!-- Hamburger -->
      <button class="hamburger" id="hamburger" type="button">
        Menu
      </button>

      <!-- Menu -->
      <ul class="hoofd-menu" id="hoofd-menu">
        <li><a class="menu-link" href="/">Home</a></li>
        <li><a class="menu-link" href="/#uitleg">Over Ad's</a></li>
        <li><a class="menu-link" href="/#publicaties">Publicaties</a></li>
        <li><a class="menu-link" href="/genomineerden">Talent Award</a></li>
        <li><a class="menu-link" href="/#nieuws">Nieuws</a></li>

        <!-- 👇 NIEUW (optioneel ook hier) -->
        <li><a class="menu-link" href="/nieuws-toevoegen">Nieuws toevoegen</a></li>

        <li class="menu-cta">
          <a href="/#ad-dag" class="knop-cta">Kom naar Ad-dag</a>
        </li>
      </ul>

    </nav>
  </div>
